<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shivam's Birthday | Music</title>
    <link rel="icon" href="/images/favicon.png">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="/images/brand.png" width="30" height="30" alt="">
        Shivam's 18th Birthday
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wishes">🥳Wishes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/game">🎮Shivam's Run&trade;</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/music">🎵Music <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Header -->
    <section class="headerSection jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Music</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-6 my-auto">
              <p class="lead headerMusicPara">Anyone who has even talked to you, knows how important of a role music plays in your life. I wouldn't be wrong if I said that you listening to music almost half the day. Hence, it's only fair that I mention your amazing playlist in this website <em>except those oliver tree songs</em></p>
            </div>
            <div class="col-md-6 my-auto"">
              <iframe src="https://open.spotify.com/embed/playlist/7qu9NrkpkZbGFRCg5S5gVR" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Music Feedback -->
    <section>
      <!-- Header -->
      <main role="main" class="container">
        <div class="jumbotron">
          <h1>Testimonials</h1>
          <p class="lead">Since you have a great taste in music, its's no surprise that you give some of the best music recommendations. Hence here's a list of <s>satisfied customers</s> happy friends who are more than grateful for the songs you have shared with them. I've also added some songs which aren't testimonials but they hold a special place in your heart so I just had to put it in here.</p>
        </div>
      </main>
      <!-- Feedback -->
      <div class="container">
        <div class="row">
          <% feedbacks.forEach(feedback => { %>
            <div class="col-md-4 feedbackCardBox">
              <div class="card mb-4 box-shadow">
                <h3><%= feedback.name %></h3>
                <h5><%= feedback.song %></h5>
                <iframe src="<%= feedback.src %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <p><%= feedback.feedback %></p>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </section>
  </body>
</html>
